# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

##Objectives:
•python
•R
•Scala
•Julia
•C++

Some of the popular languages that Data Scientists use are:
1)Python
2)R
3)Scala

Some of the commonly used libraries used by Data Scientists include:
1)Pandas
2)Sci-kit
3)matplot lib
4)Numpy

In [13]:

# | Data Science Tools |
# |--------------------|
# | Tenforflow         |
# | Pycharm            |
# | Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
print(2+2)
print(3*2)
print(4-1)

6
3

In [9]:
(3*4)+5
#this a simple arithmetic expression to mutiply then add integers

17

In [11]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Andrei